<div ng-controller="FacilityCtrl">
    Facility: <button ng-click="addfacilityrow()"> ADD </button>
<table class="table table-bordered table-hover table-condensed">
    <tr>
        <th>Serial No. </th>
        <th>Facility </th>
        <th>Number of Equipment</th>
        <th>Equipment Name</th>
        <th></th>
    </tr>
    <tbody>
    <tr ng-repeat="facility in facilities">
        <td>#{{$index+1}}</td>
        <td>
        <span editable-text="facility.facilityname" e-form="rowform">
          {{facility.facilityname}}
        </span>

        </td>
        <td>
            <span editable-text="facility.equipment.length" e-form="rowform">
         {{facility.equipment.length}}
        </span>

        </td>
        <td>
            <span editable-text="facility.equipment" e-form="rowform">
            <span ng-repeat=" equipment in facility.equipment"> {{equipment.equipmentname}} ({{equipment.equipmenttype}})</span>
            </span>
        </td>

         <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onbeforesave="savefacility($data, facility.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == facility">

          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
        </form>
         <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
          <button class="btn btn-danger" ng-click="removefacility($index)">del</button>
        </div>
      </td>
    </tr>
    </tbody>
</table>





    <div id="chart">
       
    </div>

   <div>
       <input  ng-change="addnewpoint()" ng-model="x">
       <input  ng-change="addnewpoint()" ng-model="y">
      
   </div>
  


</div>