
<div id="login" ng-controller="LoginCtrl">
    <div style="margin-bottom:10%;" >
        <center>
            <img src="images/production-512.png" height=130 width=141>
        </center>
    </div>
       
    
    <section id="main-content" class="animated fadeInRight" style="text-align:center;">
        
        <div style="text-align:center;">
            <div id="logininfo">
                <h2 style="text-align:center;">Welcome to CAS & Chiller Energy Conservation System</h2>
                <form>
                    <center>

                        <table style="text-align:left;" >
                            <tr>
                                <td>
                                    <h3>Username</h3>
                                </td>
                                <td>
                                    <input type="text" ng-model="username" style="width:100%">
                                </td>

                            </tr>
                            <tr>

                                <td>


                                    <h3>Password:</h3>
                                </td>
                                <td>


                                    <input type="password" ng-model="password" style="width:100%">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        System:
                                    </h3>
                                </td>

                                <td>

                                    <ul style="list-style: none;">
                                        <li>
                                            <h4> <input type="radio" name="appname" ng-model="appname" value="CompressedAirSystem" checked> Compressed Air System</h4>
                                        </li>
                                        <li>
                                            <h4>
                                                <input type="radio" name="appname" ng-model="appname" value="ChillerSystem"> Chiller System
                                            </h4>
                                        </li>
                                    </ul>





                                </td>

                            </tr>
                        </table>

                    </center>
                    <button class="btn btn-info" style="width:65%;text-align:center; font-weight:bold;" ng-click="login()">Login</button>  
                </form>
                <div style="height:20px;">{{Login_Information}}</div>
            </div>
        </div>
    </section>
</div>
